#
# Copyright (c) Litmus Automation Inc.
#
---
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - if: '$CI_COMMIT_TAG'
      when: always
    - if: '$CI_COMMIT_BRANCH'
      when: always
    - when: never

stages:
  - test
  - build

variables:
  UV_VERSION: 0.5
  PYTHON_VERSION: 3.12
  BASE_LAYER: bookworm-slim
  # GitLab CI creates a separate mount point for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy

  DOCKER_IMAGE_NAME: litmus/mcp-server
  DOCKER_LOCAL_BUILD_NAME: mcp-server-client
  DOCKER_REGISTRY: "us-docker.pkg.dev"
  DOCKER_GCR_SOLUTIONS_DEV: "$DOCKER_REGISTRY/litmus-customer-facing/litmus-solutions-dev"
  DOCKER_GCR_SOLUTIONS_PROD: "$DOCKER_REGISTRY/litmus-customer-facing/litmus-solutions"


.uv_test:
  stage: test
  tags:
    - docker
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  script:
    - uv sync --all-groups

lint:
  extends: .uv_test
  script:
    - uvx ruff check .
  artifacts:
    expire_in: 1 week

code-complexity:
  extends: .uv_test
  script:
    - export radon_exclude='.venv/*,dev_tests/*'
    - uvx radon cc --exclude $radon_exclude . -s -a
    - uvx radon mi --exclude $radon_exclude . -s
  artifacts:
    expire_in: 1 week


build-docker-dev:
  stage: build
  tags:
    - docker
  image: docker:latest
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:dind
  before_script:
    - mkdir -p $HOME/.docker
    - echo $DOCKER_AUTH_CONFIG_DEV > $HOME/.docker/config.json
    - mkdir -p $CI_PROJECT_DIR/data/
  script:
    - export IMAGE_TAG="${CI_COMMIT_TAG:-manual.$(date "+%Y.%m.%d.%H.%M.%S")}"
    - docker build -t $DOCKER_GCR_SOLUTIONS_DEV/$DOCKER_IMAGE_NAME:latest .
    - docker tag $DOCKER_GCR_SOLUTIONS_DEV/$DOCKER_IMAGE_NAME:latest $DOCKER_GCR_SOLUTIONS_DEV/$DOCKER_IMAGE_NAME:$IMAGE_TAG

    - docker push $DOCKER_GCR_SOLUTIONS_DEV/$DOCKER_IMAGE_NAME:latest
    - docker push $DOCKER_GCR_SOLUTIONS_DEV/$DOCKER_IMAGE_NAME:$IMAGE_TAG

  rules:
    - if: $CI_COMMIT_TAG =~ /^dev/
    - if: $CI_COMMIT_BRANCH == "develop"
    - when: manual
  artifacts:
    expire_in: 30 days
  allow_failure: true

build-docker-local:
  stage: build
  tags:
    - docker
  image: docker:latest
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:dind
  needs:
    - lint
    - code-complexity
  script:
    - docker build -t $DOCKER_LOCAL_BUILD_NAME:latest .
    - docker save $DOCKER_LOCAL_BUILD_NAME:latest > $DOCKER_LOCAL_BUILD_NAME.tar
  artifacts:
    paths:
      - $DOCKER_LOCAL_BUILD_NAME.tar
    expire_in: 3 days
  rules:
    - when: manual
  allow_failure: true


build-docker-prod:
  stage: build
  tags:
    - docker
  image: docker:latest
  services:
    - docker:dind
  needs:
    - lint
    - code-complexity
  before_script:
    - mkdir -p $HOME/.docker
    - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
    - export IMAGE_TAG="${CI_COMMIT_TAG:-manual.$(date "+%Y.%m.%d.%H.%M.%S")}"
    - docker build -t $DOCKER_GCR_SOLUTIONS_PROD/$DOCKER_IMAGE_NAME:latest .
    - docker tag $DOCKER_GCR_SOLUTIONS_PROD/$DOCKER_IMAGE_NAME:latest $DOCKER_GCR_SOLUTIONS_PROD/$DOCKER_IMAGE_NAME:$IMAGE_TAG

    - docker push $DOCKER_GCR_SOLUTIONS_PROD/$DOCKER_IMAGE_NAME:latest
    - docker push $DOCKER_GCR_SOLUTIONS_PROD/$DOCKER_IMAGE_NAME:$IMAGE_TAG

  rules:
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG !~ /^dev/
    - if: $CI_COMMIT_BRANCH == "develop"
      when: manual
    - when: never
  allow_failure: true