{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', path='query_script.js') }}"></script>
{% endblock %}

{% block title %}Server Error · Litmus MCP Server{% endblock %}

{% block content %}
<div class="title-bar" style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Litmus MCP Server 🧠</h1>
</div>

<div style="margin-left: 10px">
    <h2>500 - Internal Server Error</h2>
    <p style="margin-left: 20px">Oops! Something went wrong on our end, or by the API call timeouts.</p>
    <a href="/" class="side-button">Home</a>
</div>
{% endblock %}
