{% extends "base.html" %}

{% block title %}Health Check · Litmus MCP Server{% endblock %}

{% block content %}
<div class="title-bar" style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Litmus MCP Server 🧠</h1>
</div>

<hr>

<div style="margin-left: 10px">
    <h2>Health Status 🩺</h2>
    <p style="margin-left: 20px"><strong>Status:</strong> <span style="color: green;">{{ status }}</span></p>
    <p style="margin-left: 20px"><strong>Version:</strong> {{ version }}</p>
    <p style="margin-bottom: 23px"></p>
</div>

{% endblock %}
