{% extends "base.html" %}

{% block title %}Config · Litmus MCP Server{% endblock %}

{% block content %}
<div class="title-bar" style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Update Config Variables ⚙️</h1>
</div>

<hr style="margin-bottom: 20px">

<div style="margin-bottom: 20px;">
    <form method="post" action="{{ url_for('switch_model') }}" id="model-switch-form">
        <label>
            <select name="switch_model_to" class="select-button" onchange="this.form.submit()" title="Switch Model">
                <option disabled selected hidden>🤖 Current Model: {{ current_model | safe }}</option>
                <option value="openai-gpt-4o">Open AI GPT-4o</option>
                <option value="anthropic-3.7-sonnet">Anthropic Claude 3.7 Sonnet</option>
            </select>
        </label>
    </form>
</div>
<form method="post" action="{{ url_for('update_env_submit') }}" class="env-form">
    <label><input type="text" name="env_key" placeholder="Key" required></label>
    <label><input type="text" name="env_value" placeholder="Value" required></label>
    <button type="submit">Update</button>
</form>

{% if updated %}
<div id="toast" class="toast">✅ Environment variable updated.</div>
<script>
    setTimeout(() => {
        const toast = document.getElementById("toast");
        if (toast) toast.style.opacity = "0";
    }, 2000);
</script>
{% endif %}

<hr>

<h2>Current Environment</h2>
<table class="env-table">
    <colgroup>
        <col style="width: 35%;">
        <col style="width: 58%;">
        <col style="width: 7%;">
    </colgroup>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in env.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td>
                <form method="post" action="{{ url_for('remove_env') }}" style="margin: 0;">
                    <input type="hidden" name="env_key" value="{{ key }}">
                    <button type="submit" class="md-icon-btn" title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12
                            l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12
                            -1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13
                            -2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"></path>
                        </svg>
                    </button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}